<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<h1>All Events</h1>

<table>
    <tr>
        <th>Event Name</th>
        <th>Description</th>
        <th>Address</th>
    </tr>
    <th:block th:each="event : ${events}">
        <tr>
            <td th:text="${event.key}"></td>
            <td th:text="${event.value}"></td>
            <th:block th:if="${event.key.equals('Apple WWDC')}">
                <td th:replace="fragments :: appleWWDC"></td>
            </th:block>
            <th:block th:if="${event.key.equals('StrangeLoop')}">
                <td th:replace="fragments :: strangeLoop"></td>
            </th:block>
            <th:block th:if="${event.key.equals('Hour of code')}">
                <td th:replace="fragments :: hoursOfCodeAddress"></td>
            </th:block>
        </tr>
    </th:block>
</table>
</body>
</html>